:root {
	--brand-purple: #8e44ad;
	--primary-background-color: #000000;
	--primary-text-color: #ffffff;
	--font-fallback: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--primary-font-family: 'Inter', var(--font-fallback);
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.button-group {
	.button:nth-of-type(1) {
		margin-right: 2em;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
